* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0px;
}

body {
    background: no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: whitesmoke;
    font-family: 'Oxygen', sans-serif;
    text-shadow: 0px 0px 20px #aaaaaa;
}

main {
    height: 100vh;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.top {
    display: flex;
    justify-content: space-between;
    margin: 1em 3em 0 3em;
}
h1.time {
    justify-content: flex-start;
    text-align: center;
    margin-bottom: 4em;
    font-size: 3rem;
}

/* CRYPTO */
.crypto-top, .euro {
    display: flex;
    align-items: center;
    gap: 10px;
}
div.crypto-top, .euro > span {
    font-size: 1.7rem;
}
div.crypto-body, div.euro-body > p {
    text-align: center;
    font-size: 1rem;
}
.euro-img {
    height: 45px;
}

/* WEATHER */
.weather-flex {
    display: flex;
    align-items: center;
}
.weather-flex span {
    font-size: 2.9rem;
}
.weather p {
    text-align: center;
    margin: 0;
    font-size: 1.7rem;
}
