* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0px;
}

body {
    background: no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: whitesmoke;
    font-family: 'Oxygen', sans-serif;
    text-shadow: 0px 0px 20px #aaaaaa;
}

main {
    height: 100vh;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.top {
    display: flex;
    justify-content: space-between;
}
h1.time {
    text-align: center;
}

.crypto-top {
    display: flex;
    align-items: center;
    gap: 10px;
}
div.crypto-top > span {
    font-size: 1.5rem;
}
div.crypto-body > p {
    text-align: center;
    margin: 0.3em;
}